.portfolio__container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1, 1fr;
  gap: 15px;
}

.portfolio__item {
  display: flex;
  background: var(--color-bg-variant);
  padding: 1.5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  height: 325px;
  width: 850px;
  margin: 30px 0;
  align-items: center;
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
  height: 80%;
  object-fit: contain;
  flex-basis: 66.66%;
}

.portfolio__item-description {
  flex-basis: 33.33%;
  margin-left: 30px;
}

.portfolio__item-description h3 {
  text-align: center;
  margin-bottom: 20px;
}

.portfolio__item-description p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  /* width: 400px; */
  /* margin: 0 2px; */
}

.portfolio__item-cta {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* MEDIA QUERIES (SMALL DEVICE) */
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
